@font-face {
    font-family: 'Gandom';
    src: url('./assets/fonts/Gandom.woff') format('woff');
         
    font-weight: bold;
  }

  *{
      font-family: 'Gandom';
      box-sizing: border-box;
  }

  